---
const pathname = Astro.url.pathname.replace(/\/$/, '') || '/'
console.log('Pathname:', pathname)
---

<header>
  <a class={pathname === '/' ? 'text-red-500' : ''} href='/'>INDEX</a>
  <a class={pathname === '/other' ? 'text-red-500' : ''} href='/other'>OTHER</a>
</header>
