---
const pathname = Astro.url.pathname
console.log(pathname)
---

<header>
  <a data-astro-prefetch class={`${pathname === '/' ? 'text-red-500' : ''}`} href='/'>INDEX</a>
  <a data-astro-prefetch class={`${pathname === '/other/' ? 'text-red-500' : ''}`} href='/other/'
    >OTHER</a
  >
</header>
