---
const pathname = Astro.url.pathname
const isActive = (path: string) => (pathname === path ? 'text-red-500' : '')
---

<header>
  <a href='/' class={isActive('/')}>INDEX</a>
  <a href='/other' class={isActive('/other')}>OTHER</a>
</header>
